@charset "UTF-8";

@font-face {
    font-family: "braille";
    src: url("../font/LouisLouis.ttf") format("TrueType");
}

h1 {
    font-size: 2em;
    margin-top: 5em;
    margin-bottom: 1em;
    
}

h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

h3 {
    text-decoration: underline;
    font-weight: bold;
}

.js-mathmlConverti {
    margin-top: 0;
    margin-bottom: 0;
}

.bad {
    background-color: #FFEBEB;
    border-top-color: darkred;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: darkred;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

span,
math {
    display: block;
}

.js-mathmlConverti,
.mathbraille {
    font-family: 'braille';
}

.js-brailleDirect {
    margin-top: 0;
}

.mathbraille::after {
    content: "\0000A0(bonne écriture)";
    font-family: 'Courier New', Courier, monospace
}

.bad::before {
    content: "BAD";
    color: #B30101
}

.bad>.mathbraille {
    display: block;
}

.good::before {
    content: "GOOD";
    color: #006900;
}

.good>.mathbraille {
    display: none;
}

.mathbraille {
    display: none;
}

.mathbraille2 {
    display: none;
}

.good {
    background-color: #E1FBE7;
    border-top-color: #008B1F;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: #008B08;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

fieldset{
    margin-bottom: .5em;
    display: inline-block
}
fieldset>fieldset{
    background-color: #fcfcfc;
    border: none;
    max-width: 15em;
    /* border-width: .1em; */
    /* border-color: rgb(0, 0, 0); */
    /* border-style: solid; */
    /* margin-top: .2em; */
    /* margin-bottom: .2em; */
}
fieldset legend{
    padding-left: 1em;
    padding-right: 1em;
    border-width: .1em;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    /* height: 1.2em; */
    vertical-align:middle
}
.ecriture_auto::before{
    content: "Écriture automatique : ";
}
.ecriture_auto{
    font-style: italic;
    border: none!important;
}
.texte_equation2{
    display: none;
    /* background-color: rgb(121, 201, 255); */
}
#fstat, #fstat_texte{
    display: inline-block;
    /* font-size: .8em; */
    border: none;
    height: 3.5em;
    width:45%;
}
#stat, #stat_texte{
    margin-top: 0;
    margin-bottom: 0
}
#foption{
    width: 95%;
    /* left: 5%;
    margin: auto; */
    border: none;
    background-color:wheat
}
input[type=submit]{
    display: block
}
#monForm{
    position: fixed;
    width: 90%;
    /* margin: auto; */
    left: 5%;
    top:0;
    background-color: white;
    font-size: .8em;
    box-shadow: 0px 5px 5px black;
}