h1 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

h3 {
    text-decoration: underline;
    font-weight: bold;
}

.js-mathmlConverti {
    margin-top: 0;
    margin-bottom: 0;
}

.bad {
    background-color: #FFEBEB;
    border-top-color: darkred;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: darkred;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

span {
    display: block;
}
.js-brailleDirect::before{
    /* content: "Braille Direct :\0000A0"; */
}
.js-brailleDirect{
    margin-top: 0;
}
math::before{
    /* content: "MathML :\0000A0"; */
}
.js-mathmlConverti::before{
    /* content: "mathml2braille :\0000A0"; */
}
.mathbraille::after{
    content: "\0000A0(bonne écriture)";

}
.hidden{
    display: none;
}
.good{
    background-color: #E1FBE7;
    border-top-color: #008B1F;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: #008B08;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
